*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grilla{
  background-image: url(../assets/background\ white\ and\ yellow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "title title"
  "nav principal"
  "footer principal"
  ;
  flex-wrap: wrap;
}
header{
  grid-area: title;
  background-color: #171A21;
  color: aliceblue;
  display: flex;
  justify-content: right;
  flex-wrap: wrap; 
  height: auto;
}
aside{
  grid-area: nav;
  background-color: #C7E6AC;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 1s;
}
aside:hover{
  border-radius: 80px;
  transition: 0.5s;
}

main{
  grid-area: principal;
  background-color:#ffffff83;
  height: auto;
  flex-wrap: wrap;
  transition: 0.5s;
}
main:hover{
  background-color: #ffffff00;
  transition: 1s;
}

footer{
  grid-area: footer;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #C7E6AC;
  height: auto;
  flex-wrap: wrap;
  transition: 1s;
}

footer:hover{
  border-radius: 70px;
  transition: 0.5s;
}

#social{
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
}

aside nav ul{
  list-style: none;
}

.info-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
}




/* _________________style-class-general______________ */

  .grilla header h1{
      background-color: #C7E6AC;
      border-radius: 10px;
      color: #111318;
      margin-right: 10px;
      font-family: 'Courier New', Courier, monospace;
  }

  .titulos{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

  /* nav-bar */

  aside nav ul li{
      color: #112A46;
      margin-top: 10px;
      flex-wrap: wrap;
  }
  aside nav ul li a{
      text-decoration: none;
      color: #112A46;
      font-weight: bold;
      transition: 0.5s;
  }

  aside nav ul li a:hover{
      text-decoration: none;
      background-color: #FCF9C0;
      border-radius: 5px;
      color: #111318;
      font-weight: bold;
      transition: 0.5s;
      padding: 4px;
  }

  
/* Index___________________________ */
.info-principal iframe{
  border-radius: 10px;
}

h2{
  padding: 10px;
}

.info-tarjetas p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

footer ul li a i{
  color: #111318;
  width: 30px;
  text-align: center;
  transition: 0.5s;
}

footer ul li a i:hover{
  color: #111318;
  background-color: #FCF9C0;
  width: 30px;
  transition: 0.5s;
  padding: 4px;
  border-radius: 5px
}


/* contacto----------------------- */

#contacto-html main{
  background-color: #0a0a0aa4;
}

#contacto-html main p{
  color: #ffffff;
  font-weight: 600;
}

#principal-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

#principal-contacto h2{
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px;
}

#contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 150px;
  padding-top: 50px;
  background-color: #F7FFAB;
  border-radius: 20px;
  transition: 1.5s;
}
#contact:hover{
  margin: 10px;
  transition: 1s;
}

#contact label{
  margin: 8px 5px;
  font-size: 19px;
  color: #161930;
}

#contact input{
  border-radius: 5px 5px 0px 0px;
}

/* Objetivos_______________ */

#principal-objetivos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 200px;
  gap: 10px;
  text-align: center;
}


#tarjeta-objetivo div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#tarjeta-objetivo div p{
  text-align: center;
  margin: 10px 300px;
}

#tarjeta-objetivo div img{
  height: 300px;
  border-radius: 15px;
}

/* Alimentacion _______________________ */

#principal-alimentacion{
  display: flex;
  flex-direction: column;
}

#principal-alimentacion p{
  text-align: center;
  margin: 10px 250px;
}

.buscar-comida{
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 10px;
  flex-direction: row;
  margin: 10px;
}

.buscar-comida input{
  height: auto;
  border-radius: 10px;
  background-color: #588cc4;
  color: #ffffff;
}

#principal-alimentacion ul{
  margin-right: 600px;
  border-radius: 0px 14px 14px 0px;
  background-color: #588cc4;
  transition: 1s;
}

#principal-alimentacion ul:hover{
  transition: 0.5s;
  margin-right: 400px;
  border-radius: 0px 14px 14px 0px;
  background-color: #588cc4;
}

#principal-alimentacion ul li{
  list-style: none;
  margin: 10px;
  
}

/* MEDIA-QUERY___________ */

/* Responsive-tablet */
@media screen and (max-width:1024px){

  .grilla{
    background-image: url(../assets/background\ white\ and\ yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "title"
    "nav"
    "principal"
    "footer"
    ;
    flex-wrap: wrap;
  }

  header{
    grid-area: title;
    background-color: #171A21;
    color: aliceblue;
    display: flex;
    justify-content: right;
    flex-wrap: wrap; 
    height: auto;
  }
  aside{
    grid-area: nav;
    background-color: #C7E6AC;
    display: flex;
    
  }
  
  .grilla aside nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
  }
  main{
    grid-area: principal;
    background-color:#ffffff83;
    height: auto;
    flex-wrap: wrap;
    transition: 0.5s;
  }
  
  footer{
    grid-area: footer;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #C7E6AC;
    height: auto;
    flex-wrap: wrap;
    transition: 1s;
  }
  
  
  #social{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
  }
  
  aside nav ul{
    list-style: none;
  }
  
  .info-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }

  img{
    height: auto;
  }

}

/* Responsive-celular */


@media screen and (max-width:768px){

}