/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Imprima&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Division de pantalla con Grid y Flex */
.grilla{
  background-image: url(../assets/background\ white\ and\ yellow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "title title"
  "nav principal"
  "nav principal"
  "footer footer"
  ;
  flex-wrap: wrap;
}
header{
  grid-area: title;
  background-color: #171A21;
  color: aliceblue;
  display: flex;
  justify-content: right;
  flex-wrap: wrap; 
  height: auto;
}
aside{
  grid-area: nav;
  background-color: #ffffff;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  border-right: 2px solid black;
  transition: 1s;
}
aside:hover{
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid black;
}

main{
  grid-area: principal;
  background-color:#000000d3;
  height: auto;
  flex-wrap: wrap;
  transition: 0.5s;
}

footer{
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: auto;
  flex-wrap: wrap;
  border-top: 2px solid black;
  transition: 1s;
}

footer:hover{
  border-radius: 70px;
  transition: 0.5s;
}

#social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
}



.info-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
}




/* _________________style-class-general______________ */

.grilla header a{
  text-decoration: none;
}
  .grilla header h1{
      text-decoration: none;
      border-radius: 10px;
      color: #ffffff;
      margin-right: 10px;
      font-family: 'Courier New', Courier, monospace;
  }
  .grilla header img{
    height: 45px;
  }

  .titulos{
    text-align: center;
    font-family: "Bree+Serif";
    font-weight: bold;
    color: #FFFFFF;
}

.textos{
  font-family: "Imprima";
  font-weight: 600;
  color: #FFFFFF;
}

footer ul li a i{
  color: #111318;
  width: 30px;
  text-align: center;
  transition: 0.5s;
  font-size: 25px;
    margin-right: 30px;
}

footer ul li a i:hover{
  color: #ffffff;
  background-color: #020201ab;
  width: 30px;
  transition: 0.5s;
  border-radius: 5px
}

aside nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin-left: 10px;
  list-style: none;
}
  aside nav ul li{
      color: #000000;
      margin-top: 10px;
      flex-wrap: wrap;
  }
  aside nav ul li a{
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      transition: 0.5s;
  }

  aside nav ul li a:hover{
      text-decoration: none;
      background-color: #000000;
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      transition: 0.5s;
      padding: 4px;
  }
  
/* Index___________________________ */

.principal-index{
  display: flex;
  flex-direction: column;
}

#titulo-inicial{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  text-align: right;
  margin: 30px 10px;
}
#texto-inicial{
  text-align: center;
  text-transform: capitalize;
}

.titulos-index1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  margin: 30px 10px;
  color: #8cd2f0;
  border-bottom: 2px solid white;
  margin-right: 350px;
}

.titulos-index2{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: right;
  margin: 30px 10px;
  color: #8cd2f0;
  border-bottom: 2px solid white;
  margin-left: 350px;
}

.texto-general-index p{
  text-align: center;
  margin: 20px 250px;
  text-transform: capitalize;
}

.texto-general-index details summary{
  color: white;
  font-weight: bold;
  text-align: center;
}

.info-principal iframe{
  border-radius: 10px;
}

h2{
  padding: 10px;
}

.info-tarjetas p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

/* contacto----------------------- */

#contacto-html main{
  background-color: #0a0a0aa4;
}

#contacto-html main p{
  color: #ffffff;
  font-weight: 600;
}

#principal-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

#principal-contacto h2{
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px;
}

#contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 150px;
  padding-top: 50px;
  background-color: #242422;
  border: 3px solid #112A46;
  border-radius: 20px;
  transition: 1s;
  gap: 5px;
}
#contact:hover{
  background-color: #643F64;
  box-shadow: 5px 5px 5px #112A46;
  transition: 0.5s;
}

#contact label{
  margin: 8px 5px;
  font-size: 19px;
  font-weight: bold;
  color: #b1b8f0;
}

#contact input{
  margin: 10px;
  border-radius: 5px 5px 0px 0px;
}

/* Objetivos_______________ */

#principal-objetivos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 200px;
  gap: 10px;
  text-align: center;
}


#tarjeta-objetivo div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#tarjeta-objetivo div p{
  text-align: center;
  margin: 10px 160px;
}

#tarjeta-objetivo div img{
  height: 300px;
  border-radius: 15px;
}

/* Alimentacion _______________________ */

#principal-alimentacion{
  display: flex;
  flex-direction: column;
}

#principal-alimentacion p{
  text-align: center;
  margin: 10px 250px;
}

.buscar-comida{
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 10px;
  flex-direction: row;
  margin: 10px;
}

.buscar-comida input{
  height: auto;
  border-radius: 0px 10px 10px 0px;
}

#principal-alimentacion ul{
  margin-right: 600px;
  border-radius: 0px 14px 14px 0px;
  background-color: #588cc4;
  transition: 1s;
}

#principal-alimentacion ul:hover{
  transition: 0.5s;
  margin-right: 400px;
  border-radius: 0px 14px 14px 0px;
  background-color: #588cc4;
}

#principal-alimentacion ul li{
  list-style: none;
  margin: 10px;
  
}

#principal-alimentacion details summary{
  text-align: center;
  margin: 10px 350px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

#principal-alimentacion blockquote{
  height: auto;
  width: auto;
  border-radius: 10px;
}

/* Planes__________________________________ */

#principal-planes{
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
}

.planes-pago ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  height: auto;
  gap: 15px;
} 

.planes-pago ul li{
  height: 250px;
  border-radius: 10px;
  transition: 0.5s;
}
.planes-pago ul li:hover{
  border-radius: 15px;
  transition: 0.5s;
  height: 265px;
}
.planes-pago ul li input{
  width: 100%;
}

.planes-pago #estandar{
  background-image: linear-gradient(#56B4DC, #88CAE7, #BBE1F1);
  padding: 5px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.589);
  border: solid 1px black;
}
.planes-pago #plus{
  background-image: linear-gradient(#DDB72C, #E5C961, #EEDB96);
  padding: 5px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.795);
  border: solid 1px rgb(255, 255, 255);
}
.planes-pago #premium{
  background-image: linear-gradient(#643F64, #A975A9, #C09BC0);
  padding: 5px;
  color: #FFFFFF;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.795);
  border: solid 1px rgb(7, 7, 7);
}
.planes-pago #pro{
  background-image: linear-gradient(#08090C, #171b27, #58595e);
  padding: 5px;
  color: #ffffff;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.795);
  border: solid 1px rgb(255, 255, 255);
}

/* Preparacion_________________________________ */

#principal-preparacion{
  display: flex;
  flex-direction: column;
}

#principal-preparacion p{
  text-align: center;
  margin: 15px 300px;
}

#seleccionar-comida{
  display: flex;
  align-items: center;
  justify-content: center;
}

#preparar-comida{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#preparacion-valores{
  list-style: none;
}

#principal-preparacion blockquote{
  height: auto;
  width: auto;
  border-radius: 10px;
}

/* MEDIA-QUERY________________________________________________________ */


/* Responsive-tablet _______________*/

@media screen and (max-width:1024px){


/* Texto y títulos tamaños */

.textos{
  height: auto;
  margin: auto;
  font-size: 15px;
}

.titulos{
  height: auto;
  margin: auto;
  font-size: 25px;
}

/* Componentes generales */

  .grilla{
    background-image: url(../assets/background\ white\ and\ yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "title"
    "nav"
    "principal"
    "footer"
    ;
  }

  header{
    grid-area: title;
    background-color: #171A21;
    color: aliceblue;
    display: flex;
    justify-content: right;
    flex-wrap: wrap; 
    height: auto;
  }
  aside{
    grid-area: nav;
    background-color: #ffffff;
    display: flex;
    height: auto;
  }
  
  .grilla aside nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
  }
  main{
    grid-area: principal;
    background-color:#000000d3;
    height: auto;
    /* flex-wrap: wrap; */
    transition: 0.5s;
  }
  
  footer{
    grid-area: footer;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #ffffff;
    height: auto;
    flex-wrap: wrap;
    transition: 1s;
  }
  
  
  #social{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
  }
  
  aside nav ul{
    list-style: none;
  }
  
  .info-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }
  
  img{
    height: auto;
  }

  /* Index___________________________ */
.info-principal iframe{
  border-radius: 10px;
  width: 100%;
}

  /* Alimentacion_____ */
  .form-control{
    margin-right: 20px;
  }

  /* Objetivos_________ */
#tarjeta-objetivo div p{
  margin: 10px 150px;
}

#tarjeta-objetivo div img{
  height: 250px;
}

}

/* Responsive-celular _________________________*/

@media screen and (max-width:768px){

  .textos{
    font-size: 13px;
  }
  
  .titulos{
    font-size: 20px;
  }

/* Componentes generales */

  .grilla{
    background-image: url(../assets/background\ white\ and\ yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "title"
    "nav"
    "principal"
    "footer"
    ;
  }

  header{
    grid-area: title;
    background-color: #171A21;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    height: auto;
  }
  aside{
    grid-area: nav;
    background-color: #ffffff;
    display: flex;
    height: auto;
  }
  
  .grilla aside nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
  }
  main{
    grid-area: principal;
    background-color:#000000d3;
    height: auto;
    flex-wrap: wrap;
    transition: 0.5s;
  }
  
  footer{
    grid-area: footer;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #ffffff;
    height: auto;
    flex-wrap: wrap;
    transition: 1s;
  }

 /* Index___________________________ */
 .info-principal iframe{
  border-radius: 10px;
  width: 80%;
}

/* Alimentacion_____ */
.form-control{
  margin-right: 20px;
}

#principal-alimentacion{
  display: flex;
  flex-direction: column;
  height: auto;
}

.buscar-comida{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Objetivos_________ */
#tarjeta-objetivo div p{
  margin: 10px 100px;
}

#tarjeta-objetivo div img{
  height: 200px;
}

}