//Alimentacion
/* ALimentacion */

#alimentacion{
    main{
        #principal-alimentacion{
           display: grid;
           grid-template-columns: repeat(2, auto);
           grid-template-rows: repeat(3, auto);
           grid-template-areas: 
           "info info"
           "valores buscar"
           "video video"
           ; 
           .details{
            grid-area: info;
            @include flex(column, center, center);
            margin: 20px;
            gap: 15px;
                details{
                    p{
                        margin: 5px 200px;
                        span{
                            font-weight: bold;
                            color: green;
                        }
                    }
                }
           }
           .buscar-comida{
            grid-area: buscar;
            @include flex(row, center, center);
            flex-wrap: wrap;
            gap: 10px;
            width: auto;
            border: 1px solid #fff;
            border-radius: 10px;
            margin-right: 5px;
           }
           .valores{
            grid-area: valores;
            @include flex(column, center, left);
            gap: 10px;
            width: auto;
            border: 1px solid #fff;
            border-radius: 10px;
            margin-right: 5px;
           }
           blockquote{
            grid-area: video;
            @include flex(column, center, center);
            width: 200px;
            border-radius: 10px;
           }
        }
    }
}