//Alimentacion
/* ALimentacion */

#alimentacion{
    main{
        #principal-alimentacion{
            display: flex;
            flex-direction: column;
            p{
                text-align: center;
                margin: 10px 250px;
            }
            details{
                summary{
                    text-align: center;
                    margin: 10px 350px;
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                    border-radius: 5px;
                }
            }
            .buscar-comida{
                display: flex;
                align-items: start;
                justify-content: left;
                gap: 10px;
                flex-direction: row;
                margin: 10px;
                input{
                    height: auto;
                    border-radius: 0px 10px 10px 0px;
                }
            }
            .valores{
                display: flex;
                align-items: start;
                justify-content: left;
                flex-direction: column;
                ul{
                    margin-right: 500px;
                    width: 200px;
                    border-radius: 0px 14px 14px 0px;
                    background-color: #ffffff;
                    transition: 1s;
                    color: rgb(3, 6, 41);
                      li{
                        list-style: none;
                        margin: 10px;
                        border-bottom: 2px solid #ffffff;
                    }
                }
                details{
                    list-style: none;
                    summary{
                        align-items: start;
                    }
                    li{
                        border-bottom: 1px solid #ffffff;
                        width: 300px;
                    }

                }
            }
            blockquote{
                height: auto;
                width: auto;
                border-radius: 10px;
            }
        }
    }
}