/* Pages */
/* Index */
//pages
main{
    .principal-index{
        div{
            h2{
                    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    color: nth($list: $colores, $n: 5);
                    text-transform: uppercase;
                    text-align: right;
                    margin: 30px 10px;
            }
            p{
                    text-align: center;
                    text-transform: capitalize;
            }
        }
    }
    .texto-general-index{
            display: flex;
            flex-direction: column;

            .titulos-index1{
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-align: left;
                margin: 30px 10px;
                color: nth($list: $colores, $n: 7);
                border-bottom: 2px solid #ffffff;
                margin-right: 350px;
            }
            .titulos-index2{
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-align: right;
                margin: 30px 10px;
                color: nth($list: $colores, $n: 7);
                border-bottom: 2px solid #ffffff;
                margin-left: 350px;
            }
            details{
                summary{
                    color: nth($list: $colores, $n: 5);
                    font-weight: bold;
                    text-align: center;
            }
        }
    }
}

.info-principal{
    @include flex(column, center, center);
        iframe{
            margin: 10%;
            border-radius: 10px;
        }
}