 #objetivos{
    main{
        #principal-objetivos{
            @include flex(column, center, center);
            margin: 20px 10px;
            text-align: center;
        }
        #tarjeta-objetivo{
            div{
                @include flex(column, center, center);
                flex-wrap: wrap;
                p{
                    text-align: center;
                    margin: 10px 20px;
                        span{
                            color: nth($list: $colores, $n: 7);
                        }
                }
                img{
                    height: 300px;
                    border-radius: 15px;
                }
            }
        }
    }
 }