 #objetivos{
    main{
        #principal-objetivos{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 20px 200px;
            gap: 10px;
            text-align: center;
        }
        #tarjeta-objetivo{
            div{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                flex-wrap: wrap;
                p{
                    text-align: center;
                    margin: 10px 160px;
                }
                img{
                    height: 300px;
                    border-radius: 15px;
                }
            }
        }
    }
 }