//Planes
/* Planes */

#planes{
     main{
        #principal-planes{
            #principal-planes{
                display: flex;
                flex-direction: column;
                margin: 10px 100px;
              }
        }
     }
     .planes-pago{
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            height: auto;
            gap: 15px;
            li{
                height: 250px;
                border-radius: 10px;
                transition: 0.5s;
                &:hover{
                    border-radius: 15px;
                    transition: 0.5s;
                    height: 265px;
                }
                input{
                    width: 100%;
                }
            }
        }
        
        //Tarjetas-planes
        #estandar{
            background-image: linear-gradient(#56B4DC, #88CAE7, #BBE1F1);
            padding: 5px;
            box-shadow: 3px 3px rgba(0, 0, 0, 0.589);
            border: solid 1px black;
                &:hover {
                transform: scale(1.1);
            }
        }
        #plus{
            background-image: linear-gradient(#DDB72C, #E5C961, #EEDB96);
            padding: 5px;
            box-shadow: 3px 3px rgba(0, 0, 0, 0.795);
            border: solid 1px rgb(255, 255, 255);
            &:hover {
                transform: scale(1.1);
            }
        }
        #premium{
            background-image: linear-gradient(#643F64, #A975A9, #C09BC0);
            padding: 5px;
            color: #FFFFFF;
            box-shadow: 3px 3px rgba(255, 255, 255, 0.795);
            border: solid 1px rgb(7, 7, 7);
            &:hover {
                transform: scale(1.1);
            }
        }
        #pro{
            background-image: linear-gradient(#08090C, #171b27, #58595e);
            padding: 5px;
            color: #ffffff;
            box-shadow: 3px 3px rgba(255, 255, 255, 0.795);
            border: solid 1px rgb(255, 255, 255);
            &:hover {
                transform: scale(1.1);
            }
        }
     }
}