//preparacion
/* Preparacion */

#preparacion{
    main{
        #principal-preparacion{
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(3, auto);
          grid-template-areas: 
          "info info"
          "valores comida"
          "video video"
          ;
          #comida-info{
            grid-area: info;
            @include flex(column, center, center);
            p{
                text-align: center;
            }
        }

        #seleccionar-comida{
            grid-area: comida;
            @include flex(row, center, center);
            flex-wrap: wrap;
            gap: 10px;
            border: 1px solid #ffffff;
            margin: auto 5px;
            padding: 10px;
                input{
                    border-radius: 5px;
                    border: 1px solid #ffffff;
                }
        }

        #preparacion-valores{
            grid-area: valores;
            @include flex(column, center, left);
            border: 1px solid #ffffff;
            margin: auto 5px;
            padding: 10px;
            ul{
                li{
                    list-style: none;
                    border-bottom: 1px solid #ffffff;
                } 
            }
        }

        blockquote{
            grid-area: video;
            width: 200px;
            border-radius: 10px;
            border: 2px solid black;
            }
        }
    }
}