//preparacion
/* Preparacion */

#preparacion{
    main{
        #principal-preparacion{
            display: flex;
            flex-direction: column;
            p{
                text-align: center;
                margin: 15px 300px;
            }
            #seleccionar-comida{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            #preparar-comida{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-top: 10px;
            }
            #preparacion-valores{
                list-style: none;
            }
            blockquote{
                height: auto;
                width: auto;
                border-radius: 10px;
            }
        }
    }
}