/*Responsive-celular */

@media screen and (min-width:320px) and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    .textos{
        font-size: 13px;
        margin: 5px 20px;
      }
      
      .titulos{
        font-size: 20px;
      }
      /* Componentes generales */
      .grilla{
        // background-image: url(../assets/background\ white\ and\ yellow.jpg);
        height: 100%;
        display: grid;
        grid-template-columns: 1, auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "title"
        "nav"
        "principal"
        "footer"
        ;

         header{
            grid-area: title;
            background-color: #171A21;
            color: aliceblue;
            @include flex(row, center, center);
            flex-wrap: wrap; 
            height: auto;
        }

        aside{
            grid-area: nav;
            background-color: #171A21;
            display: flex;
            height: auto;
                nav{
                display: none;
             }
                .nav-media{
                @include flex(column, center, center);
                    summary{
                    background-color: transparent;
                    list-style: none;
                    background-color: #fff;
                    border-radius: 5px;
                        i{
                        padding: 5px;
                        color: #171A21;
                    }
                }
                
                    ul{
                    list-style: none;
                    @include flex(column, center, end);
                        li{
                            a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }

        main{
            grid-area: principal;
            height: auto;
            width: 100%;
            flex-wrap: wrap;
            background-image: linear-gradient(rgb(0, 0, 0), rgb(48, 46, 46), rgb(24, 24, 24));
        }

        footer{
            grid-area: footer;
            @include flex(row, center, center);
            background-color: #ffffff;
            height: auto;
            width: 100%;
            flex-wrap: wrap;
            transition: 1s;
        }
         /* Index___________________________ */
         .principal-index{

            #titulo-inicial{
                font-size: 20px;
                margin-right: 50px;
            }

            .texto-general-index{
                .titulos-index1{
                    font-size: 19px;
                }

                .titulos-index2{
                    font-size: 19px;
                    margin: 10px 100px;
                }
            }
         }
         .info-principal{
            @include flex(column, center, center);
            iframe{
                border-radius: 10px;
                width: 320px;
            }
         }
         /* Alimentacion_____ */

         #principal-alimentacion{
            display: flex;
            flex-direction: column;
            margin: auto;
            
            details{
                summary{
                    font-size: 15px;
                    width: auto;
                }
                p{
                    width: 250px;
                }
            }
            .buscar-comida{
                select{
                    @include flex(column, center, center);
                    width: auto;
                }
                input{
                    width: auto;
                }
            }
            .form-control{
                margin-right: 20px;
              }
         }
         /* Objetivos_________ */
         
            main{
                #tarjeta-objetivo{
                    div{
                         img{
                                width: 280px;
                                height: 200px;
                            }
                            p{
                                margin: 5px 10px
                            }
                    }
                }
            }
        
            /* Contacto*/
            
            main{
                form{
                    @include flex(column, center, center);
                    height: auto;
                    width: 300px;
                    h3{
                        font-size: 18px;
                    }
                    label{
                        font-size: 17px;
                    }
                    input{
                        font-size: 17px;
                    }
                }
            }
            /* Planes*/
            #principal-planes{
                p{
                    width: 200px;
                    margin-top: 20px;
                }
            }
    }
}