/* Media-Queries */


/* Responsive-tablet _______________*/

@media screen and (max-width:1024px){

/* Texto y títulos tamaños */
.textos{
    height: auto;
    margin: 5px 60px;
    font-size: 15px;
  }
  
  .titulos{
    height: auto;
    margin: auto;
    font-size: 20px;
  }

  /* Componentes generales */
  .grilla{
    // background-image: url(../assets/background\ white\ and\ yellow.jpg);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(48, 46, 46), rgb(24, 24, 24));
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "title"
        "nav"
        "principal"
        "footer"
        ;
        header{
            grid-area: title;
            background-color: nth($list: $colores, $n: 4);
            color: nth($list: $colores, $n: 5);
            display: flex;
            justify-content: right;
            flex-wrap: wrap; 
            height: auto;
        }
        aside{
            grid-area: nav;
            background-color: nth($list: $colores, $n: 5);
            display: flex;
            height: auto;
            nav{
                ul{
                    @include flex(row, center, center);
                    list-style: none;
                    gap: 10px;
                }
            }
        }
        main{
            grid-area: principal;
            height: auto;
            flex-wrap: wrap;
        }
        footer{
            grid-area: footer;
            @include flex(row, center, center);
            background-color: nth($list: $colores, $n: 5);
            height: auto;
            flex-wrap: wrap;
            transition: 1s;
        }
        #social{
            display: flex;
            flex-direction: row;
            gap: 10px;
            list-style: none;
            margin-top: 10px;
        }
        img{
            height: auto;
          }

          /* Index___________________________ */
          .info-principal{
            @include flex(column, center, center);
                iframe{
                    border-radius: 10px;
                    width: 767px;
                }
          }

           /* Alimentacion_____ */
        .form-control{
                margin-right: 20px;
        }

         /* Objetivos_________ */
         #tarjeta-objetivo{
            div{
                img{
                    height: 250px;
                }
                p{
                    margin: 10px 150px;
                }
            }
         }

         
    }
}