/*Clases generales */

    .titulos{
    text-align: center;
    font-family: "Bree+Serif";
    font-weight: bold;
    color: #FFFFFF;
}

    .textos{
  font-family: "Imprima";
  font-weight: 600;
  color: #FFFFFF;
}