//Nav
/* NAV*/
    aside{
        nav{
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                padding: 0;
                margin-left: 10px;
                list-style: none;
                li{
                    color: #000000;
                    margin-top: 10px;
                    flex-wrap: wrap;
                    a{
                        text-decoration: none;
                        color: #000000;
                        font-weight: bold;
                        transition: 0.5s;
                        &:hover{
                            text-decoration: none;
                            background-color: #000000;
                            border-radius: 5px;
                            color: #ffffff;
                            font-weight: bold;
                            transition: 0.5s;
                            padding: 4px;
                        }
                    }
                }
            }
        }

        .nav-media{
            display: none;
        }
    }

    /* Footer */

    footer{
        #social{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            list-style: none;
            margin-top: 10px;
        }
        ul{
            li{
                a{
                    i{
                        color: #111318;
                        width: 30px;
                        text-align: center;
                        transition: 0.5s;
                        font-size: 25px;
                        margin-right: 30px;
                        &:hover{
                            color: #ffffff;
                            background-color: #020201ab;
                            width: 30px;
                            transition: 0.5s;
                            border-radius: 5px
                          }
                    }
                }
            }
        }
    }